# Server Configuration
PORT=5000
CLIENT_URL=http://localhost:5173

# Hostinger SMTP Configuration
SMTP_HOST=smtp.hostinger.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=marketing@aploslogix.in
SMTP_PASS=
CONTACT_TO_EMAIL=info@aploslogix.com
CONTACT_CC_EMAIL=sales@aploslogix.com
